
// font 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

$primary-color: rgba(93,94,97,0.8);
$second-color:rgb(255, 189, 36);
$third-color: rgb(83, 83, 83);

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    
}
body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}

// Untuk data dan Logo
.Bagian3 {
    position: relative;
    background-color: $primary-color;
    padding-top: 20px;
    .tombol {
        display: flex;
        justify-content: end;
        width: 90%;
        // border: 1px solid red;
        margin: auto;
        .menu {
            height: 35px;
            position: absolute;
            z-index: 1;
            // border: 1px solid red;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            cursor: pointer;
            position: relative;
            input {
                position: absolute;
                opacity: 0.2;
                width: 100%;
                height: 40px;
            }
            span {
                display: block;
                width: 47px;
                height: 5px;
                background-color: white;
                border-radius: 40px;
            }
            span:nth-child(2) {
                transform-origin: 0 0;
            }
            span:nth-child(4) {
                transform-origin: 0 0;
            }
            input:checked ~ span:nth-child(2) {
                transform: rotate(40deg);
            }
            input:checked ~ span:nth-child(4) {
                transform: rotate(-40deg);
            }
            input:checked ~ span:nth-child(3) {
                display: none;
            }
        }
    }
    
    .data3 {
        // border: 1px solid salmon;
        font-size: 2.5rem;
        height: 110vh;
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: auto;

            .aboutme {
                h1 {
                    font-size: 5rem;
                    margin-bottom: 3rem;
                    span {
                        color: yellow;
                    }
                }
                p {
                    margin-bottom: 3rem;
                }
            }
            .contacts {
                height: 50%;
                .email {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 6px solid white;
                    padding: 3rem;
                    margin: 3rem 0;
                    div {
                        color: yellow;
                    }
                }
                .address {
                    margin: 3rem 0;
                    display: flex;
                    border: 6px solid white;
                    flex-direction: column;
                    align-items: center;
                    padding: 3rem;
                    div {
                        color: yellow;
                    }
                }
                .github {
                    margin: 3rem 0;
                    display: flex;
                    border: 6px solid white;
                    flex-direction: column;
                    align-items: center;
                    padding: 3rem;
                    div {
                        color: yellow;
                    }
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

// Bagian Sidebar
.Sidebar3 {
    // border: 1px solid red;
    width: 100%;
    top: 1px;
    display: flex;
    position: absolute;
    height: 115vh;
    // left: -1530px;
    .sidebar3 {
        right: -1100px;
        position: relative;
        width: 50%;
        // border: 1px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        transition: 1s;
        background-color: $third-color;
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
                list-style-type: none;
                padding: 20px 0;
                a {
                    text-decoration: none;
                    color: white;
                }
                a:hover {
                    color: yellow;
                }
            }
        }
    }
    .sidebar2 {
        left: -1100px;
        justify-content: center;
        position: relative;
        display: flex;
        width: 50%;
        // border: 1px solid green;
        align-items: center;
        transition: 1s;
        background-color: $primary-color;
        img {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            border: 5px solid yellow;

        }
    }
    .sidebar2.slide {
        left: 0;
    }
    .sidebar3.slide2 {
        right: 0;
    }
}
// .sidebar.slide {
//     left: 0;
// }

// Untuk Tablet 
@media only screen and (max-width:992px) {
    .Sidebar3 {
        overflow: hidden;
        height: 105vh;
    }
    .sidebar3 {
        ul {
            font-size: 35px;
        }
    }
    .Bagian3 {
        overflow: hidden;
        .data3 {
            height: 100vh;
            .container {
                height: 100vh;
                width: 90%;
                margin: auto;
                display: flex;
                justify-content: flex-start;
                .aboutme {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .contacts {
                    .email {
                        padding: 2rem 1rem;
                    }
                    .address {
                        padding: 2rem 1rem;
                    }
                    .github {
                        padding: 2rem 1rem;
                    }
                }
            }
        }
    }
}

// Untuk Mobile
@media only screen and (max-width:576px) {
    .Sidebar3 {
        display: block;
        height: 110vh;
        overflow: hidden;
        .sidebar2 {
            width: 100%;
            height: 20%;
            img {
                width: 150px;
                height: 150px;
            }
        }
        .sidebar3 {
            height: 80%;
            width: 100%;
            ul {
                font-size: 35px;
                li {
                    a:hover {
                        color: yellow;
                    }
                }
            }
        }
    }
    .Bagian3 {
        height: 110vh;
        position: relative;
        .tombol {
            padding-bottom: 0;
        }
        .data3 {
            height: 110vh;
            // border: 1px solid salmon;
            font-size: 1rem;
            .container {
                display: flex;
                width: 90%;
                margin: auto;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                // border: 1px solid blue;
                // border: 1px solid salmon;
                .aboutme {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h1 {
                        font-size: 3.5rem;
                        margin-bottom: 2rem;
                        span {
                            color: yellow;
                        }
                    }
                    p {
                        margin-bottom: 1rem;
                        font-size: 1.5rem;
                    }
                }
                .contacts {
                    .email {
                        padding: 2rem 1rem;
                    }
                    .address {
                        padding: 2rem 1rem;
                    }
                    .github {
                        padding: 2rem 1rem;
                    }
                }
    
            }
        }
    }

}