* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

/* awalan bagian header */

header {
    height: 70px;
}

header h1 {
    display: inline-block;
    /* float: left; */
    padding: 15px 24px;
    text-transform: uppercase;
}

header h1 a:hover {
    color: red;
}

header h1 a {
    transition: 0.5s;
}

header ul {
    float: right;
}

header ul li {
    padding: 24px;
    display: inline-block;
}

header ul li a:hover {
    color: red;
}

header ul li a {
    transition: 0.5s;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}
/* akhir bagian header */

/* awalan menu mobile */

.mobile-menu {
    float: right;
    display: none;
    padding: 18px;
}

.mobile-menu:hover {
    cursor: pointer;
}

#check {
    display: none;
}
/* akhiran menu mobile */

/* awalan sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background-color: rgba(2, 11, 108 , 0.8);
    transition: 0.5s;
    z-index: 9999;
}

.sidebar ul li a {
    color: white;
}

.sidebar ul li {
    padding: 24px;
    transition: 0.5s;
    transition-property: background-color;
}

.sidebar ul li:hover {
    background-color: red;
}

#check:checked ~ .sidebar {
    left: 0;
}
/* akhiran sidebar */

/* awalan banner */
.banner {
    background-color: rgba(0, 43, 171, 0.811);
    padding: 150px 0;
}

section {
    padding: 50px 0;
}

.banner img {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 3px 5px #ddd;
    margin-bottom: 10px;
}

.banner h2, .banner p, .banner span {
    color: #fff;
}

.banner-left {
    padding-left: 24px;
}

.banner p {
    font-size: 18px;
}
/* akhiran banner */

/* awalan about */
section h3 {
    padding-bottom: 24px;
    text-align: center;
    margin: 20px;
    position: relative;
}

section h3::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: #ddd;
    left: calc(50% - 60px);
}

section h3::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    width: 40px;
    height: 4px;
    background-color: red;
    left: calc(50% - 20px);
}

#about p {
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
}
/* akhiran about */

/* awalan skill */
#skills, #contact {
    background-color: #ddd;
}

#skills .bar {
    height: 30px;
    background-color: #fff;
    margin: 5px 0 20px 0;
}

.bar .nilai {
    height: 30px;
    background-color: red;
    display: inline-block;
    color: #fff;
    text-align: center;
}

.html {
    width: 100%;
}

.css {
    width: 90%;
}

.javascript {
    width: 95%;
}

.cpp {
    width: 80%;
}

.figma {
    width: 100%;
}
/* akhiran skill */

/* awalan project */
.projectSaya {
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
    margin-bottom: 15px;
}

.projectSaya img {
    width: 100%;
}

.projectSaya a:hover img {
    transform: scale(1.2);
}
/* akhiran project */

/* awalan contact */
.col-3 {
    box-sizing: border-box;
    float: left;
    text-align: center;
    width: 33.33%;
    padding: 50px 10px;
}

.col-3 h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
}
/* akhiran contact */

/* bagian footer */
footer {
    border: 1px solid;
    background-color: #333;
    padding: 50px;
    text-align: center
}

footer small {
    color: #fff;
}
/* akhiran footer */

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block
    }

    header ul{
        display: none;
    }

    .projectSaya {
        width: 50%;
    }

    .col-3 {
        width: 100%;
    }

}